# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Temporary files
*.tmp
*.temp
*~

# Log files
*.log

# IDE files
.vscode/
.idea/

# Backup files
*.bak
*.backup
.vercel

# Local Netlify folder
.netlify
